/*
*** Colors *** 
pancho:     #DEBA92     rgb(222, 186, 146)
eastBay:    #414C63     rgb(65, 76, 99)
snow:       #FAFAFA     rgb(250,250,250)
dimGray:    #747474     rgb(116, 116, 116)
*** ##Colors## *** 
*/

/* Fonts */
@font-face {
    src: url('../fonts/Oswald-Regular.ttf');
    font-family: 'oswaldReg';
}
@font-face {
    src: url('../fonts/Oswald-SemiBold.ttf');
    font-family: 'oswaldSemi';
}
@font-face {
    src: url('../fonts/Oswald-Bold.ttf');
    font-family: 'oswaldBold';
}
@font-face {
    src: url('../fonts/Oswald-Medium.ttf');
    font-family: 'oswaldMed';
}
@font-face {
    src: url('../fonts/Oswald-Light.ttf');
    font-family: 'oswaldLight';
}
@font-face {
    src: url('../fonts/Oswald-ExtraLight.ttf');
    font-family: 'oswaldELight';
}
/* ##Fonts## */


/* Tags */
body {
    background-color: #fafafa;
}
html, body, * {
    font-family: 'oswaldReg', sans-serif;
}
h1, h2, h3 {
    font-family: 'oswaldBold', sans-serif;
}
h4, h5, h6 {
    font-family: 'oswaldSemi', sans-serif;
}
a {
    color: inherit !important;
}
section h1 {
    font-size: 4rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
/* ##Tags## */


/* Classes */
.pancho-bg {
    background-color: #DEBA92 !important;
}
.pancho-fg {
    color: #DEBA92 !important;
}
.eastBay-bg {
    background-color: #414C63 !important;
}
.eastBay-fg {
    color: #414C63 !important;
}
.snow-bg {
    background-color: #fafafa !important;
}
.snow-fg {
    color: #fafafa !important;
}
.dimGray-fg {
    color: #747474 !important;
}
.dimGray-bg {
    background-color: #747474 !important;
}
.main-header-photo {
    height: 475px;
    background-color: #414C63;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.w-100 {
    width: 100% !important;
}
.navbar {
    padding: 0 !important;
    transition: all 1s;
    border-bottom: .3rem solid #414C63;
    z-index: 10;
}
.nav-item, .dropdown-menu {
    padding:.8rem;
    text-align: center;
}
.nav-link, .dropdown-item {
    font-size: 1.8rem;
    padding: .5rem !important;
    transition: ease-in .2s;
    text-decoration: none !important;
}
.nav-link.active, .dropdown-item.active {
    color: #414C63 !important;
    border: #414C63 dashed 3px;
    border-radius: 10px;
    box-shadow: 0 0 0 4px#DEBA92;
    background: #DEBA92;
    text-decoration: none !important;
}
.nav-link:hover, .dropdown-item:hover {
    color: #DEBA92 !important;
    border: #DEBA92 dashed 3px;
    border-radius: 10px;
    box-shadow: 0 0 0 4px transparent;
    background: transparent;
    text-decoration: none !important;
}

.dropdown-toggle::after {
    content: none !important;
}
.small-fg {
    font-size: 1.2rem !important;
}
.show {
    display: inline-block;
    animation: hideB .4s ease-in;
    -webkit-animation: showB .4s ease-in;
    -moz-animation: showB .4s ease-in;
    -o-animation: showB .4s ease-in;
}
.hide {
    display: none;
    animation: hideB .4s ease-in;
    -webkit-animation: hideB .4s ease-in;
    -moz-animation: hideB .4s ease-in;
    -o-animation: hideB .4s ease-in;
}
.srv {
    width: 100%;
    margin: 2rem auto !important;
    padding: 0 2rem;
}
.srv-head {
    font-size: 7rem;
}
.srv-title {
    font-size: 2.5rem
}
.srv-desc {
    font-size: 1.8rem
}
.btn-srv {
    color: #414C63 !important;
    background-color: #DEBA92;
    padding: .7rem;
}
.btn-srv:hover {
    color: #DEBA92 !important;
    background-color: #414C63;
}
.img-bg {
    background-size: cover;;
    background-position: center;
    background-color: #414C63;
}
.aboutus-prg {
    font-size:30px;
}
.aboutus-prg-parent {
    padding: 1rem 5rem
}
.swiper-button-prev, .swiper-button-next {
    background-image: none !important;

}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.swiper-zoom-container {
    width: 85% !important;
}
.swiper-zoom-container > img {
    border: #414C63 dashed 3px;
    border-radius: 10px;
    
}
.swiper-pagination-bullet {
    background: #414C63 !important;
    border: dashed #DEBA92 1px;
    opacity: .8;
    width: 16px;
    height: 16px;
} 
.swiper-pagination-bullet-active {
    background: #DEBA92 !important;
}
.form-control {
    border: none;
    border-bottom: #DEBA92 dashed 3px;
}
.form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(222, 186, 146,.25) !important;
    border-color: #DEBA92 !important;
}
.btn:focus, .btn:active {
    box-shadow: 0 0 0 .2rem rgba(222, 186, 146,.25) !important;
}
.contact {
    margin-top: 8rem;
    margin-left: -8rem;
}
.page-title {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: rgba(222, 186, 146, .75);
    position: absolute;
    bottom: 0;
}
.gallery.column > img {
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0;
    border: solid .3rem #DEBA92;
    cursor: pointer;
}
#g_img {
    cursor: zoom-in;
}
/* ##Classes## */


@media screen and (max-width: 990px) {
    .brand {
        width: 100% !important;
    }
    .navbar-toggler-scrolled {
        text-align: right;
        width: calc(100% - 210px);
    }
    .aboutus-prg {
        font-size:25px;
    }
    .contact {
        margin-top: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .srv-desc {
        font-size: 1.4rem
    }
    .srv-title {
        font-size: 2rem
    }
    .aboutus-prg {
        font-size:20px;
    }
    .aboutus-prg-parent {
        padding: 1rem 1rem !important;
    }
}


/* Animations */
@keyframes showB {
    0% { opacity: 0;}   
  100% { opacity: 1;}
}
@-webkit-keyframes showB {
    0% { opacity: 0;}   
  100% { opacity: 1;}
}
@-moz-keyframes showB {
    0% { opacity: 0;}   
  100% { opacity: 1;}
}
@-o-keyframes showB {
    0% { opacity: 0;}   
  100% { opacity: 1;}
}
@keyframes hideB {
    0% { opacity: 1;}   
  100% { opacity: 0;}
}
@-webkit-keyframes hideB {
    0% { opacity: 1;}   
  100% { opacity: 0;}
}
@-moz-keyframes hideB {
    0% { opacity: 1;}   
  100% { opacity: 0;}
}
@-o-keyframes hideB {
    0% { opacity: 1;}   
  100% { opacity: 0;}
}
/* ##Animations## */